# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Poetry-specific
poetry.lock

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# dotenv files
.env
*.env

# mypy
.mypy_cache/

